<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="logo.png" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Welcome to Yash Gym</title>
  </head>
  <body>
    <header>
      <div id="one" class="header">
        <img src="/images/logo.png" alt="logo" />
        <div>Yash Gym</div>
      </div>
      <div id="two" class="header">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div id="three" class="header">
        <button class="btn">Call Now</button>
        <button class="btn">Email</button>
      </div>
    </header>
    <main></main>
  </body>
</html>
